/config/*
!/config/config-default.js

/node_modules/*
!/node_modules/.gitkeep

/public/assets/css/*
!/public/assets/css/.gitkeep

/public/assets/js/*
!/public/assets/js/.gitkeep

/public/index.html

/resources/css/postcss/processed/dark/*
!/resources/css/postcss/processed/dark/.gitkeep

/resources/css/postcss/processed/light/*
!/resources/css/postcss/processed/light/.gitkeep
